/*body*/
body {
    height: 100%;
    margin: 0;
    background-color: black;
    opacity: 89%;
    font-family: "PT Sans", sans-serif;
    font-size: 3.5vw;
}

/* Brak podkreślania linków */
a {
    text-decoration: none;
}


/*body*/

/*logo*/
.logo {
    margin-left: 5px;
    font-size: 3.5vw;
    font-weight: 400;
    color: darkgoldenrod;
}

.logo:hover {
    filter: brightness(200%);
}

/*logo*/

/*górny pasek nawigacji*/
.navigation {
    display: flex;
    flex-wrap: wrap; /* Zawijanie elementów wewnętrznych, jeśli ekran jest zbyt wąski */
    align-items: center;
    justify-content: space-evenly;
    padding: 16px 0;
    text-align: center;
    background-color: black;
    opacity: 89%;
    /*Podążanie za userem przy scrollowaniu*/
    position: fixed;
    top: 0;
    z-index: 50; /*Nie bedzie zasłaniany przez inny content*/
    width: 100%;
}

.navigation-static {
    display: flex;
    flex-wrap: wrap; /* Zawijanie elementów wewnętrznych, jeśli ekran jest zbyt wąski */
    align-items: center;
    justify-content: space-evenly;
    padding: 16px 0;
    text-align: center;
    background-color: black;
    opacity: 89%;
    /*Podążanie za userem przy scrollowaniu*/
    width: 100%;
}

/*górny pasek nawigacji*/

/*lista kategorii*/
.categories > ul {
    flex-wrap: wrap; /*Zawija elementy, gdyby strona miała się rozrosnąć, szczególnie przydatne przy telefonach*/
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.categories > ul > li {
    flex-grow: 1;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 3.5vw;
    color: darkgoldenrod;
}

/*lista kategorii*/
/*kategoria w liscie*/
.categories > ul > li > a {
    text-decoration: none; /* Usuń podkreślenie */
    color: inherit;
}

.categories > ul > li > a:hover {
    filter: brightness(200%);
    border-bottom: 2px solid darkgoldenrod;
}


/*kategoria w liscie*/

/*akcje użytkownika*/
.user-actions > a {
    margin-right: 10px;
}

/*akcje użytkownika*/

/*login*/
a.login-link {
    margin-right: 5px;
}

a.login-link:hover {
    filter: brightness(200%);
}

.login-button {

}

/*login*/

/*koszyk*/
.shopping-cart:hover {
    filter: brightness(200%);
}

/*koszyk*/

/*pomoc*/
.help-button:hover {
    filter: brightness(200%);

}

/*pomoc*/


/*top*/
.top {
    margin-top: 100px;
    color: darkgoldenrod;
    text-align: center;
}

.top > h1 {
    margin-top: 80px;
    color: darkgoldenrod;
    text-align: center;
    font-weight: bold;
}

/*top*/
/*main*/

/*mobilka*/


/*mobilka*/

body > main {
    color: #B8860B;
    margin-top: 80px; /* Przesunięcie poniżej nawigacji */
    display: grid; /* Ustawienie układu Grid tylko dla main */
    grid-template-columns: repeat(1, 1fr); /* 3 kolumny */
    gap: 16px; /* Odstępy między elementami */
    padding: 5px;
}


main > h1, main > h2, main > p {
    text-align: center;
    font-size: 3.5vw;
}

.category-description {
    font-weight: bold;
    font-size: 20px;
}

/*produkty*/
.product {
    margin-top: 20px;
    border: 1px solid goldenrod;
    padding: 10px;
    text-align: center;
    background-color: goldenrod;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: black;
    font-weight: bold;
}
.product > a{
    color: inherit;
}
.product img {
    width:75%; /* you can use % */
    height: auto;
}

.buy-button {
    background-color: #B8860B;
    color: black;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 100px;
    height: 30px;
    z-index: 51;
}

.buy-button:hover {
    filter: brightness(300%);
}

/*footer*/
.footer {
    text-align: center;
    color: #B8860B;
    background-color: black;
    opacity: 89%;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

