.body{
    background-color: black;
}
a {
    text-decoration: none;
}
.user-form {
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    border: 1px solid #BDBDBD;
    justify-content: center;
    margin: 80px auto;
    max-width: 600px;
}


.user-form > * {
    font-size: 1.2em;
    margin: 16px;
}


.user-form > input,
.user-form > button {
    padding: 20px;
    border: 1px solid #BDBDBD;
}

.user-form-title {
    margin: 16px auto;
    color: #B8860B;
}

.user-form-button {
    color: black;
    background-color: goldenrod;
}

.register_text{
    color: goldenrod;
    text-align: center;
}